<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.alhazmy13.mediapicker">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application>
        <activity
            android:name=".Image.ImageActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:exported="true"
            android:name=".Video.VideoActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>
