<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.swagliv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Swagliv.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.activities.ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SideBarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.PurchaseHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.HelpAndFaqActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SearchCrushActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ManageConnectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SearchScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.WalletActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.FeedbackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ComplaintActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.TopSheetAvtivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.PassionSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.UserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.EmailSignInActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.OtpVerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SubscriptionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.LocationGPSAllowPermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.AutoInitEnabled"
            android:value="true" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.PhoneActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".image_upload_service.UserDocumentUploadService"
            android:exported="false" />
    </application>

</manifest>